.bold {
    font-weight:900;
}
.f-c-orange {
    color:$orange;
}
.f-c-white {
    color:$white;
}
.f-c-dark {
    color:$dark;
}
.f-si-big {
    font-size:54px;
}
.f-shadowed {
    text-shadow:0px 0px 4px #000;
}
.f-light-shadowed {
    text-shadow:1px 1px 0px #ccc;
}
.f-w-bold {
    font-weight:bold;
}

.f-s-upper {
    text-transform:uppercase;
}
a {
    color:inherit;
}

%btn {
    padding: 6px !important;
    width: 100%;
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-top: 15px;
    font-size:28px !important;
    font-weight:300 !important;
}

.btn-dark {
    @extend %btn;
    background-color: #36342d;
    color:#fff;
}

a {
    color:$dark;
    &:hover{
        color:$dark;
        text-decoration: none;
    }
}
