
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-family-serif : 'Great Vibes', cursive;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$white : #FBF5F3;
$dark : #333029;
$brown : #785845;
$orange : #FEBB67;
$greeb :#3A3D2F;
