
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

@import "~swiper/dist/css/swiper.min.css";

// Variables
@import 'variables';
@import 'components';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

//modules
@import './modules/nav';
@import './modules/footer';
@import './modules/header';
@import './modules/other';
@import './modules/swiper';

html,body,#app {
    height:100%;
    position:relative;

}
body {
    background-color:#fff;
    font-family: 'Lato', sans-serif;
    color:$dark;
}
