footer {
    position:relative;
    bottom:0px;
    left:0px;
    width:100%;
    background-color:$dark;
    color:$white;
    padding:40px 0px;
    .anchor-top {
        position:absolute;
        left:50%;
        top:0px;
        transform:translate(-50%,-100%);
        color:#fff;
        display:flex;
        align-items:center;
        background-color:$dark;
        padding:8px 10px;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        border-top:1px solid #fff;
    }
    ul {
        display:flex;
        width:100%;
        justify-content: center;
        align-items:center;
        padding:0px;
        li {
            display:block;
            padding:0px;
            a {
                padding:0px 15px;
                font-weight:300;
                text-transform:uppercase;
                color:$white;
                text-decoration:none;
                transition:0.3s;
                &:hover {
                    color:$orange;
                    text-decoration: none;
                }
            }
        }
    }
}
