header {
    background-image: url(/images/header.jpg);
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top:81px;
    h1 {
        text-transform: uppercase;
        font-weight: 300;
        //color: #dc9b72;
        color:$white;
        font-size: 72px;
        text-shadow: 2px 2px 0px $dark;
    }
}

