nav {
    background-color:transparent;
    .navbar-brand {
        font-family:$font-family-serif;
        font-size:48px;
        color:$dark;
    }
    ul {
        li {
            a {
                color:$dark;
                text-transform:uppercase;
                font-weight:bold;
                transition:0.3s;
                font-weight:400;
                border-bottom:1px solid transparent;
                margin-left:15px;
                &:hover {
                    color:$brown;
                }
                &.active {
                    border-bottom:1px solid $dark;
                }
            }
        }
    }
}
