.menu {
    ul {
        display: block;
        padding-left: 0px;

        li {
            display: block;
            padding-left: 0px;

            a {
                padding: 8px 15px;
                background-color: $dark;
                color: $white;
                width: 100%;
                display: block;
                text-decoration: none;
                margin-top: 5px;
                text-transform: uppercase;
                font-weight: 700;
                border-radius:5px;
            }
        }
    }
}

.love-card {
    .image {
        width: 350px;
        position: relative;
        height: 500px;
        max-width: 100%;
        background-color: #fff;
        background-position: center;
        background-size: cover;
        background-image: url(/images/example.jpg);
        border-radius: 100px 0px;
        transition: 0.3s;

        &:hover {
            transform: rotate(5deg);
        }
    }

    .controls {
        width: 100%;

        button {
            border: 2px solid $dark;
            border-radius: 100%;
            color: $dark;
            background-color: $white;
            text-align: Center;
            width: 50px;
            align-items: center;
            justify-content: center;
            display: flex;
            height: 50px;
            font-size: 24px;
            transition: 0.3s;

            i {
                transition: 0.3s;
                color: $dark;
            }

            &:hover {
                color: $orange;
                border-color: $orange;

                i {
                    color: $orange;
                }
            }
        }
    }
}

.profile-view {
    background-color: $dark;
    border-radius: 5px;
    color: $white;
}
.naglowek {
    background-color: $dark;
    border-radius: 5px;
    color: $white;
}