<template>
  <div class="profile-view">
    <h1>Wiadomości</h1>
    <section>
      <div class="content">
        <div class="message mt-2" v-for="msg in messages">
          <span class="author">{{msg.user_id}}</span> :
          {{msg.text}}
        </div>
      </div>
      <div class="send-message">
        <div class="d-flex">
          <input type="text" class="w-100 mr-2" v-model="message">
          <button class="btn btn-primary" @click="sendMessage">Wyślij</button>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "MessageComponent",
        props: {
            user: {
                default: () => []
            }
        },
        data() {
            return {
                messages: [],
                message: null
            }
        },
        mounted() {
            this.getMessages();
            setInterval(() => {
                this.getMessages();
            }, 1000)
        },
        methods: {
            getMessages() {
                axios.get("/api/user/messages/recipient/" + this.user.id).then((response) => {
                    this.messages = response.data;
                })
            },
            sendMessage() {
                axios.post("/api/user/messages/recipient/" + this.user.id, {
                    text: this.message
                }).then((response) => {
                    console.log(response);
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
  .content {
    display: block;
    width: 100%;
    background-color: Transparent;
    padding: 15px 0px;

    .author {
      text-transform: uppercase;
      font-weight: 900;
    }

    .message {
      padding: 8px 15px;
      border: 2px solid #fff;
      font-size: 16px;
      letter-spacing: 1.1px;
      border-radius:50px;
    }

  }

  input {
    background-color: #fff;
    border-radius: 50px;
    padding:8px 15px;
  }

  button {
    border-radius: 50px;
    color:#333029;
    border-color:#FEBB67;
    background-color: #FEBB67;
    text-transform: uppercase;
    &:hover{
      background-color:#333029;
      color :#FEBB67;
      border-color:#333029;
    }
  }
</style>