<template>
    <section class="w-100 profile-view p-5">
        <div class="container">
            <div v-if="fav_users">
                <h1>Twoje ulubione</h1>
                <div class="row">
                    <div class="col-sm-4" v-for="user in fav_users">
                        <a :href="'/wiadomosci/'+user.user_id">
                        <div class="item">
                            <template v-if="user.filename.length > 0">
                                <img v-bind:src="user.filename" class="img-thumbnail" />
                            </template>
                            <template v-else >
                                <div class="image mr-auto ml-auto" style="background-image:url(images/brak_zdjecia.png);"></div>
                            </template>
                            <p><i>Imię:</i> <strong>{{user.name}}</strong></p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div v-else>
                <h2>Brak par</h2>
            </div>
        </div>
    </section>
</template>

<script>
    import axiox from "axios";

    export default {
        name: "AppFavs",
        data() {
            return {
                fav_users: null
            }
        },
        mounted() {
            this.get_users();
        },
        methods: {
            like() {
                axiox.get('/api/user/favourites').then(response => {
                    this.get_users();
                }).catch(err => {
                    console.log(err);
                });
            },
            next() {
                this.get_users();
            },
            get_users() {
                axiox.get('/api/user/favourites').then(response => {
                    console.log(response);
                    this.fav_users = response.data;
                }).catch(err => {
                    console.log(err);
                });
            }
        }
    }
</script>
<style lans="scss" scoped>
    a {
        text-decoration:none;
        color:inherit;
    }
</style>
