<template>
    <section class="w-100 profile-view p-5">
        <div class="profile-view">
            <h1 class="text-center">Twój profil</h1>
            <section class="mt-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="f-w-bold f-s-upper f-s-mid">Imię</h2>
                        <h1 class="f-si-big">{{user.name}}</h1>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="f-w-bold f-s-upper f-s-mid">Opis</h2>
                        <p v-if="user.description != null">
                            {{user.description}}
                        </p>
                        <p v-else><i>Dodaj opis do profilu!</i></p>
                        <h2 class="f-w-bold f-s-upper f-s-mid">Interesują Cię</h2>
                        <p>{{(user.interested_in == 1 ? 'Mężczyźni' : 'Kobiety')}}</p>
                    </div>
                </div>
            </section>
            <br>
            <h3 class="f-w-bold f-s-upper text-center" v-if="user.photos.length>0">Twoje zdjęcia</h3>
            <!-- Slider photos container -->
            <div v-if="user.photos.length > 0" class="swiper-container swiper-profile">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <template v-for="photo in user.photos">
                        <div class="swiper-slide" :style="'background-image:url('+photo.filename+')'"></div>
                    </template>
                </div>
            </div>
            <h5 v-else>Brak zdjęć</h5>
        </div>
    </section>
</template>

<script>
    import axios from "axios";
    import Swiper from 'swiper';

    export default {
        name: "AppHome",
        data() {
            return {
                user: {
                    photos: []
                }
            }
        },
        computed: {
            photo() {
                return this.user.photos.length > 0
            }
        },
        watch: {
            photo() {
                this.$nextTick(() => {
                    this.makeSwiper();
                })
            }
        },
        mounted() {
            axios.get('/api/user').then((response) => {
                this.user = response.data[0];
            }).catch((error) => {
                console.log(error);
            })
        },
        methods: {
            makeSwiper() {
                var swiper = new Swiper('.swiper-profile', {
                    effect: 'coverflow',
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: '5',
                    initialSlide: 2,
                    slideToClickedSlide: true,
                    coverflowEffect: {
                        rotate: 20,
                        stretch: 0,
                        depth: 100,
                        modifier: 1,
                        slideShadows: true,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                    },
                });
            }
        }
    }
</script>

<style scoped>

</style>