<template>
    <section class="w-100 profile-view p-5">
        <div class="container">
            <div v-if="pairs">
                <h2 class="text-center">Twoje pary</h2>
                <div class="row">
                    <div class="col-sm-4" v-for="user in pairs">
                        <div class="item">
                            <template v-if="user.filename">
                                <img v-bind:src="user.filename" class="img-thumbnail" />
                            </template>
                            <template v-else >
                                <div class="image mr-auto ml-auto" style="background-image:url(images/brak_zdjecia.png);"></div>
                            </template>
                            <p><i>Imię:</i> <strong>{{user.name}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <h2>Brak par</h2>
            </div>
        </div>
    </section>
</template>

<script>
    import axiox from "axios";

    export default {
        name: "AppPairs",
        data() {
            return {
                pairs: null
            }
        },
        mounted() {
            this.get_users();
        },
        methods: {
            like() {
                axiox.get('/api/user/pairs').then(response => {
                    this.get_users();
                }).catch(err => {
                    console.log(err);
                });
            },
            next() {
                this.get_users();
            },
            get_users() {
                axiox.get('/api/user/pairs').then(response => {
                    console.log(response);
                    this.pairs = response.data;
                }).catch(err => {
                    console.log(err);
                });
            }
        }
    }
</script>
