<template>
    <section>
        <div v-if="user.photos.length > 0" class="swiper-container swiper-settings">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <template v-for="photo in user.photos">
                    <div class="swiper-slide" :style="'background-image:url('+photo.filename+')'"></div>
                </template>
            </div>
        </div>
    </section>
</template>

<script>
    import Swiper from "swiper";
    export default {
        name: "AppSettingsPhotos",
        data() {
            return {
                user : {
                    photos : []
                }
            }
        },
        computed : {
            photo(){
                return this.user.photos.length > 0
            }
        },
        watch : {
            photo() {
                this.$nextTick(()=>{
                    this.makeSwiper();
                })
            }
        },
        mounted() {
            axios.get('/api/user').then((response)=>{
                this.user = response.data[0];
            }).catch((error)=>{
                console.log(error);
            })
        },
        methods: {
            makeSwiper() {
                new Swiper('.swiper-settings', {});
            }
        }
    }
</script>

<style lang="scss" scoped>
    .swiper-slide {
        width:100%;
        height:300px;
        background-size:cover;
        background-position:center;
    }
</style>