<template>
    <section class="w-100 profile-view p-5">
        <div class="profile-view" v-if="finded_user">
            <h1>Znajdź !</h1>
            <div class="row">
                <div class="col-lg-6">
                    <div class="love-card justify-content-center">
                        <template v-if="finded_user.photos.length > 0">
                            <div class="image mr-auto ml-auto" :style="'background-image:url('+finded_user.photos[0].filename+');'"></div>
                        </template>
                        <template v-else >
                            <div class="image mr-auto ml-auto" style="background-image:url(images/brak_zdjecia.png);"></div>
                        </template>

                        <div class="controls d-flex py-2 justify-content-center">
                            <button class="up" @click="like()">
                                <i class="fas fa-heart"></i>
                            </button>
                            <button class="down" @click="next()">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="description-box p-5 f-c-dark">
                        <h5 class="f-s-upper">Imię</h5>
                        <p>
                            {{finded_user.name}}
                        </p>
                        <h5 class="f-s-upper">Opis</h5>
                        <p>
                            {{finded_user.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <h1>Brak par dla aktualnych wytycznych</h1>
        </div>
    </section>
</template>

<script>
    import axiox from "axios";
    export default {
        name: "AppSearch",
        data() {
            return {
                finded_user: null
            }
        },
        mounted() {
            this.get_user();
        },
        methods : {
            like() {
                axiox.post('/api/user/pairs',{target_user_id : this.finded_user.id}).then(response => {
                    this.get_user();
                }).catch(err=>{
                    console.log(err);
                });
            },
            next() {
             this.get_user();
            },
            get_user() {
                axiox.get('/api/user/find').then(response => {
                    console.log(response);
                    this.finded_user = response.data;
                }).catch(err=>{
                    console.log(err);
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .description-box {
        background-color:#fff;
        border-radius:5px;
    }
    p {
        word-break: break-word;
    }
</style>
